extends layout

block content
    div(text-align = center)
        h1 General Report

    div(style = "float: left; width: 50%;") 
        h3 langID
        ul
        each report in reports
            li #{report.name}
    
    div(style = "float: right; width: 50%;")
        h3 line #
        ul
        each report in reports
            li #{report.value}